
name: Linux Build
on:
  push:
  workflow_dispatch:
jobs:
  build:
    name: Linux Build
    permissions: write-all
    runs-on: macos-15
    steps:
      - name: Pulling the new commit
        uses: actions/checkout@main
      - name: Setting up Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.7
      - run: |
          echo "HXCPP_COMPILE_CACHE=~/.hxcpp" >> $GITHUB_ENV
      - name: Installing/Updating libraries
        run: |
          haxe -cp commandline -D analyzer-optimize --run Main setup -s --no-vscheck
      - name: Configure Android
        run: |
          haxelib run lime config ANDROID_SDK $ANDROID_HOME
          haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_LATEST_HOME
          haxelib run lime config JAVA_HOME $JAVA_HOME_21_arm64 
          haxelib run lime config ANDROID_SETUP true
      - name: Building the game
        run: haxelib run lime build android -debug
      # - name: Tar files
      #   run: tar -zcvf CodenameEngine.tar.gz -C export/release/linux/bin .
      - name: Uploading artifact (executable)
        uses: actions/upload-artifact@main
        with:
          name: Codename Engine (Executable Only)
          path: export/release/android/bin/CodenameEngine
      - name: Uploading artifact (entire build)
        uses: actions/upload-artifact@main
        with:
          name: Codename Engine
          path: export/release/android/bin/
